<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

    <!-- Header Begin -->
    <header th:fragment="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    GeaPan@GeaPan.com
                                </li>
                                <li>후원자를 찾습니다.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a th:href="@{my/index}">마이페이지</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a th:href="@{member/login}">
                                    <i class="fa fa-user"></i> Login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 여기서부터 header category -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/index}"><img th:src="@{/img/logo.png}" alt=""></a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <!--li태그에 class="active"가 내나 해당 카테고리 보고 있는 중인거 표시 -->
                            <li class="active">
                                <a th:href="@{/index}">Home</a>
                            </li>
                            <li>
                                <a th:href="@{/shop_grid}">Shop</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <!-- category hover시 리스트 출력 -->
                                <ul class="header__menu__dropdown">
                                    <li>
                                        <a th:href="@{/shop_details}">Shop Details</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/shoping_cart}">Shoping Cart</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/checkout}">Check Out</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/pet/blog_details}">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/pet/blog}">Blog</a>
                            </li>
                            <li>
                                <a th:href="@{/contact}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                    <span>1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>

        </div>
    </header>
    <!-- Header Section End -->
</body>
</html>