<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block layout:fragment="content">
    <main>
        <div id="my">
            <div class="home">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/applylist}">전체신청내역</a></li>
                    <li><a th:href="@{/my/apply}">입양신청하기</a></li>
                    <li><a th:href="@{/my/review}">나의후기</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/support}">후원하기</a></li>
                    <li><a th:href="@{/my/info}">개인정보설정</a></li>
                </ul>
                <section>
                    <article>
                        <h3>전체신청내역</h3>
                        <div class="byDate" style="display: flex; align-items: center;">
                            <span class="tit" style="margin-right: 20px; font-size: 20px">기간별조회</span>
                            <ul style="display: flex; list-style: none; padding: 0; margin: 0 10px;">
                                <li style="margin: 0 5px;"><a href="#">1주일</a></li>
                                <li style="margin: 0 5px;"><a href="#">15일</a></li>
                                <li style="margin: 0 5px;"><a href="#">1개월</a></li>
                                <li style="margin: 0 5px;"><a href="#">2개월</a></li>
                                <li style="margin: 0 5px;"><a href="#">3개월</a></li>
                                <li style="margin: 0 5px;"><a href="#">6개월</a></li>
                                <li style="margin: 0 5px;"><a href="#">1년</a></li>
                            </ul>
                            <p style="display: flex; align-items: center; margin-right: 20px;">
                                <input type="date" name="begin"><span style="margin: 0 10px;">~</span><input type="date" name="end">
                            </p>
                            <button class="btnConfirm">조회하기</button>
                        </div>

                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>동물정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr>
                                <td class="date">2022-12-13</td>
                                <td>
                                    <a href="#" class="thumb"><img src="https://via.placeholder.com/80x80" alt=""></a>
                                    <ul>
                                        <li class="company">회사명</li>
                                        <li class="prodName"><a href="#">동물이름</a></li>
                                        <li class="a_no">신청번호</li>
                                    </ul>
                                </td>
                                <td class="status">보호중</td>
                                <td class="confirm">
                                    <a href="#">후기</a>
                                    <a href="#">파양신청</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="date">2022-12-13</td>
                                <td>
                                    <a href="#" class="thumb"><img src="https://via.placeholder.com/80x80" alt=""></a>
                                    <ul>
                                        <li class="company">회사명</li>
                                        <li class="prodName"><a href="#">동물이름</a></li>
                                        <li class="a_no">신청번호</li>
                                    </ul>
                                </td>
                                <td class="status">보호중</td>
                                <td class="confirm">
                                    <a href="#">후기</a>
                                    <a href="#">파양신청</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="date">2022-12-13</td>
                                <td>
                                    <a href="#" class="thumb"><img src="https://via.placeholder.com/80x80" alt=""></a>
                                    <ul>
                                        <li class="company">회사명</li>
                                        <li class="prodName"><a href="#">동물이름</a></li>
                                        <li class="a_no">신청번호</li>
                                    </ul>
                                </td>
                                <td class="status">보호중</td>
                                <td class="confirm">
                                    <a href="#">후기</a>
                                    <a href="#">파양신청</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="date">2022-12-13</td>
                                <td>
                                    <a href="#" class="thumb"><img src="https://via.placeholder.com/80x80" alt=""></a>
                                    <ul>
                                        <li class="company">회사명</li>
                                        <li class="prodName"><a href="#">동물이름</a></li>
                                        <li class="a_no">신청번호</li>
                                    </ul>
                                </td>
                                <td class="status">보호중</td>
                                <td class="confirm">
                                    <a href="#">후기</a>
                                    <a href="#">파양신청</a>
                                </td>
                            </tr>
                        </table>
                    </article>
                </section>
            </div>
        </div>
    </main>
</th:block>
</html>