<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{my/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block layout:fragment="content">
    <main>
        <div id="my">
            <div class="home">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/applylist}">전체신청내역</a></li>
                    <li><a th:href="@{/my/apply}">입양신청하기</a></li>
                    <li><a th:href="@{/my/review}">입양일기</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/support}">후원하기</a></li>
                    <li><a th:href="@{/my/info}">개인정보설정</a></li>
                    <li><a th:href="@{/pet/register}">아이 등록</a></li>
                </ul>
                <section class="checkout spad">
                    <form th:action="@{/my/apply}" method="post">
                        <input type="hidden" name="uid">
                    <div class="container">
                        <div class="checkout__form">
                            <h4>입양 안내</h4>
                            <form action="#">
                                <p style="border-bottom: none; color: #8972ee; font-size: 23px">동물을 입양한 당신이 자랑스럽습니다!</p>
                                <p style="font-size: 18px">원하는 동물을 새 식구로 맞이하는 것은 물론 한 생명을 구했다는 자부심으로 가슴이 뿌듯해집니다.</p>
                                <div class="row">
                                    <div class="col-lg-8 col-md-6">
                                        <div class="checkout__input">
                                            <p>품종</p>
                                            <input type="text" name="type">
                                        </div>
                                        <div class="checkout__input">
                                            <p>동물 이름</p>
                                            <input type="text" name="name">
                                        </div>
                                        <div class="checkout__input">
                                            <p>주소</p>
                                            <input type="text" placeholder="기본 주소" class="checkout__input__add" name="addr1">
                                            <input type="text" placeholder="상세 주소" name="addr2">
                                        </div>
                                        <div class="checkout__input">
                                            <p>휴대폰 번호</p>
                                            <input type="text" name="hp">
                                        </div>
                                        <div class="checkout__input">
                                            <p>신청 사유</p>
                                            <input type="text" name="reason">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="site-btn" style="width: 200px; height: 50px;">
                                        입양 신청 하기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
</th:block>
</html>