<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block layout:fragment="content">
    <main>
        <form th:action="@{/my/info}" method="post">

        <div id="my">
            <div class="info">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/applylist}">전체신청내역</a></li>
                    <li><a th:href="@{/my/apply}">입양신청하기</a></li>
                    <li><a th:href="@{/my/review}">나의후기</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/support}">후원하기</a></li>
                    <li><a th:href="@{/my/info}">개인정보설정</a></li>
                    <li><a th:href="@{/pet/register}">아이 등록</a></li>
                </ul>
                <section>
                    <article>
                        <h3>회원정보 설정</h3>
                            <table border="0">
                                <tr>
                                    <td>사용자 ID</td>
                                    <td>
                                        <input type="text" name="m_uid" id="userId" th:value="${myInfoDTO.m_uid}" readonly style="border: none">
                                    </td>
                                </tr>
                                <tr>
                                    <td>비밀번호</td>
                                    <td>
                                        <button id="btnChangePass">비밀번호 수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>이름</td>
                                    <td>
                                        <input type="text" name="m_name" id="userName" th:value="${myInfoDTO.m_name}" style="width: 130px; height: 23px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>닉네임</td>
                                    <td>
                                        <input type="text" name="m_nick" th:value="${myInfoDTO.m_nick}" style="width: 130px; height: 23px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>생년월일</td>
                                    <td>
                                        <input type="text" name="m_birth" id="userBirth" th:value="${myInfoDTO.m_birth}" readonly style="border: none"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>
                                        <input type="text" name="m_email" th:value="${myInfoDTO.m_email.substring(0, myInfoDTO.m_email.indexOf('@'))}" style="width: 130px; height: 23px">@
                                        <input type="text" name="m_email" th:value="${myInfoDTO.m_email.substring(myInfoDTO.m_email.indexOf('@') + 1)}" style="width: 130px; height: 23px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>휴대폰</td>
                                    <td>
                                        <p class="hp">
                                            <input type="text" name="m_hp" th:value="${myInfoDTO.m_hp.substring(0, 3)}" style="width: 130px; height: 23px"/>-
                                            <input type="text" name="m_hp" th:value="${myInfoDTO.m_hp.substring(3, 7)}" style="width: 130px; height: 23px"/>-
                                            <input type="text" name="m_hp" th:value="${myInfoDTO.m_hp.substring(7)}" style="width: 130px; height: 23px"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>주소</td>
                                    <td>
                                        <input type="text" name="m_zip" style="width: 130px; height: 23px; margin-bottom: 1px"/>
                                        <button id="btnFindZip">주소검색</button>
                                        <p class="address">
                                            <input type="text" name="m_addr1" style="width: 300px; height: 25px; margin-bottom: 2px"/>
                                            <input type="text" name="m_addr2" style="width: 300px; height: 25px"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>양육경력</td>
                                    <td style="font-size: 15px">
                                        <input type="radio" name="m_exp" value="Y"> 있음&nbsp;
                                        <input type="radio" name="m_exp" value="N"> 없음
                                    </td>
                                </tr>
                                <tr>
                                    <td>입양횟수</td>
                                    <td>
                                        <input type="text" name="m_count" th:value="${myInfoDTO.m_count}" style="width: 130px; height: 23px"> 회
                                    </td>
                                </tr>
                                <tr>
                                    <td>회원탈퇴</td>
                                    <td>
                                        <button id="btnWithdraw">탈퇴하기</button>
                                    </td>
                                </tr>
                            </table>
                            <button type="submit" id="btnInfoChange">수정하기</button>
                    </article>
                </section>
            </div>
        </div>
        </form>
    </main>
</th:block>
<script src="/js/my/myInfo.js"></script>
<script src="/js/my/passCheck.js"></script>
</html>