<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <main>
        <form th:action="@{/my/info}" method="post">

        <div id="my">
            <div class="info">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/applylist}">전체신청내역</a></li>
                    <li><a th:href="@{/my/apply}">입양신청하기</a></li>
                    <li><a th:href="@{/my/review}">입양일기</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/support}">후원하기</a></li>
                    <li><a th:href="@{/my/info}">개인정보설정</a></li>
                    <li><a th:href="@{/pet/register}">아이 등록</a></li>
                </ul>
                <section>
                    <article>
                        <h3>회원정보 설정</h3>
                            <table border="0">
                                <tr>
                                    <td>사용자 ID</td>
                                    <td>
                                        <input type="text" name="uid" id="userId" th:value="${myInfoDTO.uid}" readonly style="border: none">
                                    </td>
                                </tr>
                                <tr>
                                    <td>비밀번호</td>
                                    <td>
                                        <button id="btnChangePass">비밀번호 수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>이름</td>
                                    <td>
                                        <input type="text" name="name" id="userName" th:value="${myInfoDTO.name}" style="width: 130px; height: 23px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>닉네임</td>
                                    <td>
                                        <input type="text" name="nick" th:value="${myInfoDTO.  nick}" style="width: 130px; height: 23px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>생년월일</td>
                                    <td>
                                        <input type="text" name="birth" id="userBirth" th:value="${myInfoDTO.birth}" readonly style="border: none"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>
                                        <input type="text" name="email" th:value="${myInfoDTO.  email.substring(0, myInfoDTO.  email.indexOf('@'))}" style="width: 130px; height: 23px">@
                                        <input type="text" name="email" th:value="${myInfoDTO.  email.substring(myInfoDTO.  email.indexOf('@') + 1)}" style="width: 130px; height: 23px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>휴대폰</td>
                                    <td>
                                        <p class="hp">
                                            <input type="text" name="  hp" th:value="${myInfoDTO.  hp.substring(0, 3)}" style="width: 130px; height: 23px"/>-
                                            <input type="text" name="  hp" th:value="${myInfoDTO.  hp.substring(3, 7)}" style="width: 130px; height: 23px"/>-
                                            <input type="text" name="  hp" th:value="${myInfoDTO.  hp.substring(7)}" style="width: 130px; height: 23px"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>주소</td>
                                    <td>
                                        <input type="text" id="zip" name="zip" style="width: 130px; height: 23px; margin-bottom: 1px"/>
                                        <button type="button" onclick="zipcode()" >주소검색</button>
                                        <p class="address">
                                            <input type="text" id="addr1" name="addr1" style="width: 300px; height: 25px; margin-bottom: 2px"/>
                                            <input type="text" id="addr2" name="addr2" style="width: 300px; height: 25px"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>양육경력</td>
                                    <td style="font-size: 15px">
                                        <input type="radio" name="exp" value="Y"> 있음&nbsp;
                                        <input type="radio" name="exp" value="N"> 없음
                                    </td>
                                </tr>
                                <tr>
                                    <td>입양횟수</td>
                                    <td>
                                        <input type="text" name="count" th:value="${myInfoDTO.count}" style="width: 130px; height: 23px"> 회
                                    </td>
                                </tr>
                                <tr>
                                    <td>회원탈퇴</td>
                                    <td>
                                        <a th:href="@{/my/passcheck}" id="btnWithdraw">탈퇴하기</a>
                                    </td>
                                </tr>
                            </table>
                            <button type="submit" id="btnInfoChange">수정하기</button>
                    </article>
                </section>
            </div>
        </div>
        </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/my/passCheck.js"></script>
    <script src="/js/my/myInfo.js"></script>
    <script src="/js/my/findzip.js"></script>
</th:block>
</html>