<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaepan - 약관정책</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/member/register.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body class="fade">
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <a href="/index"><img src="/img/font-logo.png" class="registerLogo"></a>
            <br>
            <div>
                <span>[필수] 개판 이용약관</span>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        동의합니다.
                    </label>
                </div>
            </div>


            <div>
                <span>[필수] 개인정보 수집 및 이용</span>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        동의합니다.
                    </label>
                </div>
            </div>



        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 2023 GaePan</p>
    </footer>
</div>
<script th:src="@{/js/member/validation.js}"></script>
<script th:src="@{/js/member/register.js}"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/member/zipcode.js}"></script>
</body>
</html>