<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pet/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <style>
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <!-- Blog Section Begin -->
        <div class="container">
            <div class="row">
                <!-- 좌측 nav - 카테고리 -->
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="너의 검색어는...?">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>유형별로 찾아보기</h4>
                            <ul>
                                <li><a th:href="@{/pet/petlist}">All</a></li>
                                <li><a th:href="@{/pet/petdoglist}">유기견</a></li>
                                <li><a th:href="@{/pet/petcatlist}">유기묘</a></li>
                                <li><a th:href="@{/pet/petetclist}">기타</a></li>
                            </ul>
                        </div>

                        <div class="blog__sidebar__item">
                            <h4>유기견 & 유기묘 News</h4>
                            <div class="blog__sidebar__recent">
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-1.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-2.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-3.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 블로그 List -->
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" th:each="pageResponseDTO : ${pageResponseDTO.dtoList}">
                            <div class="blog__item" >
                                <div class="blog__item__pic">
                                    <!-- petall.thumb 변수는 실제 이미지 파일의 이름을 가정합니다. -->
                                    <img style="width: 360px; height: 280px" th:src="@{/upload/} + ${pageResponseDTO.thumb}">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li th:text="${#temporals.format(pageResponseDTO.regDate, 'yy-MM-dd')}"><i class="fa fa-calendar-o"></i></li>
                                        <li><i class="fa fa-comment-o"></i>1</li>
                                    </ul>
                                    <h5>
                                        <a th:href="@{/pet/petdetails(no=${pageResponseDTO.getNo})}" class="title" th:id="${'title_'}" th:text="${pageResponseDTO.getTitle()}"></a>
                                    </h5>
                                    <script th:inline="javascript">
                                        /* JavaScript로 동적으로 타이틀 조정 */
                                        var maxLength = 10;
                                        var titleElement = document.getElementById('title_');
                                        if (titleElement.textContent.length > maxLength) {
                                            titleElement.textContent = titleElement.textContent.slice(0, maxLength) + '...';
                                        }
                                    </script>
                                    <a th:href="@{/pet/petdetails(no=${pageResponseDTO.no})}" class="blog__btn">
                                        READ MORE <span class="arrow_right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- 페이징 처리 -->
                        <div class="col-lg-12">
                            <div class="product__pagination blog__pagination" th:if="${pageResponseDTO.dtoList != null and pageResponseDTO.total > 0}">
                                <a th:if="${pageResponseDTO.prev}" th:href="@{/pet/petlist(pg=${pageResponseDTO.start - 1})}"><i class="fa fa-long-arrow-left"></i></a>
                                <a th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}" th:href="@{/pet/petlist(pg=${num})}">[[${num}]]</a>
                                <a th:if="${pageResponseDTO.next}" th:href="@{/pet/petlist(pg=${pageResponseDTO.end + 1})}"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br></br>
</th:block>

</html>