<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="admin_config_info" class="admin__section">
        <nav>
            <h3>환경설정</h3>
            <p class="admin__p">
                <a th:href="@{/admin/index}">HOME</a> &gt; 환경설정 &gt;
                <strong>배너</strong>
            </p>
        </nav>

        <article class="admin__article">
            <h4>banner</h4>
        </article>

    </section>
</th:block>
</html>