<!--
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="admin_config_info" class="admin__section">
        <nav>
            <p class="admin__p">
                <a th:href="@{/admin/index}">HOME</a> &gt; 게시판 &gt;
                <th:block th:switch="${group}">
                    <span th:case="notice"><strong>Notice</strong></span>
                    <span th:case="faq"><strong>FAQ</strong></span>
                    <span th:case="qna"><strong>QnA</strong></span>
                </th:block>
            </p>
        </nav>

        <article class="list">
            <div class="admin_search_div">
                <th:block th:switch="${group}">
                    <span th:case="notice"><h3>공지사항</h3></span>
                    <span th:case="faq"><h3>자주 묻는 질문</h3></span>
                    <span th:case="qna"><h3>QnA</h3></span>
                </th:block>
            </div>

            <div class="row">
                &lt;!&ndash; 카테고리 &ndash;&gt;
                <div class="col-md-12 mt-2">
                    <ul class="pagination">
                        <th:block th:each="cate : ${cateDTO}">
                            <li class="board__cate">
                                &lt;!&ndash;TODO 이게 카테고리에 맞게 List 출력이 제대로 안되고 그냥 전부 출력함&ndash;&gt;
                                <a th:href="@{'list?group=' + ${group} +  '&cate='+ ${cate.cate} }">
                                    [[${cate.cateName}]]
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>

            <form id="formCheck" th:action="@{write}" method="get">
                <input class="board__group" type="hidden" name="group" th:value="${group}" th:data-group="${group}"  />
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" name="all" id="selectAll"/>
                        </th>
                        <th scope="col">번호</th>
                        <th scope="col" class="tit">제목</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">조회수</th>
                        <th scope="col">등록일</th>
                        <th scope="col">관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="board : ${adminBoardList.getBoardList()}">
                        <tr>
                            <td class="chk">
                                <input type="checkbox" name="chk" class="checkbox" value="">
                            </td>
                            <td class="bno">[[${adminBoardList.size() - board.rownum + 1}]]</td>
                            <td class="tit">
                                <div class="admin_title_board">
                                    <a class="admin_title_board"
                                       th:href="@{/admin/board/view(bno=${board.bno})}">
                                        [<span th:text="${board.typeName}"></span>]
                                        [[${board.title}]]
                                    </a>
                                    <th:block th:if="${board.commentCount > 0}">
                                        <span class="board_comment">
                                            &lt;!&ndash; todo 여기 링크 누르면 댓글창으로 바로 가게끔 설정 하고 싶음 &ndash;&gt;
                                            <a th:href="@{/admin/board/view(bno=${board.bno})}">
                                                [<span th:text="${board.commentCount}"></span>]
                                            </a>
                                        </span>
                                    </th:block>
                                </div>
                            </td>
                            <td class="user admin__uid" th:text="${board.nick}"></td>
                            <td class="hit">[[${board.hit}]]</td>
                            <td class="regdate">
                                <span class="date"
                                      th:text="${#temporals.format(board.regDate, 'MM-dd')}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/admin/board/delete(bno=${board.bno})}"
                                   class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" th:data-bno="${board.bno}"
                                   class="btn btn-sm btn-outline-danger board_deleteBtn">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <input type="button" class="deleteBtn " value="선택삭제" />
                <input type="submit" class="primary-btn admin_btn board_write" value="글 쓰기" />
            </form>

            &lt;!&ndash; 페이징 &ndash;&gt;
            &lt;!&ndash; todo 지금 파라미터값 + pageing처리가 원할하게 안되고 있음 &ndash;&gt;
            <div class="col-lg-12 mt-5">
                <div class="product__pagination blog__pagination">
                    &lt;!&ndash; 이전 페이지 &ndash;&gt;
                    <th:block th:if="${adminBoardList.prev}">
                        <a th:href="@{list(group=${group}, pg=${adminBoardList.start - 1})}">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                    </th:block>
                    &lt;!&ndash; 현재 페이지&ndash;&gt;
                    <th:block th:each="i : ${#numbers.sequence(adminBoardList.start, adminBoardList.end)}">
                        <a th:class="${adminBoardList.pg eq i ? 'active' : ''}"
                           th:href="@{list(group=${group}, pg=${i})}">[[${i}]]</a>
                    </th:block>
                    &lt;!&ndash; 다음 페이지 &ndash;&gt;
                    <th:block th:if="${adminBoardList.next}">
                        <a th:href="@{list(group=${group}, pg=${adminBoardList.end + 1})}">
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </th:block>
                </div>
            </div>
        </article>
    </section>
</th:block>
</html>
<script th:src="@{/js/admin/boardDelete.js}"></script>
<script>
    const path = "/admin/board/deleteBoardList";

    $(".deleteBtn").click(function(){
        if(confirm("정말 삭제 하시겠습니까?")){
            console.log("1");
            /* todo 지금 여기서 checked value 값이 "" 공백으로 뜸 이거 해결 해야됨 */
            const checked = $(".checkbox:checked");
            console.log("Checked elements:", checked);
            // check를 여러개 할 수 있기 때문에 배열로 초기화
            const boardBno = [];
            for(let i = 0; i < checked.length; i++){
                const currentValue = checked[i].value;
                console.log("Current value: " + currentValue);

                const currentValue2 = checked[i].value * 1;
                console.log("Current value2: " + currentValue2);
                debugger;
                boardBno.push(
                    { bno : checked[i].value * 1 }
                );
                console.log("2");
            }

            console.log("boardBno:", boardBno);

            // memberNo에 값이 있을 때만 ajax로 처리
            // -> memberType이 1 or 2일 경우만 해당
            if(boardBno.length > 0){
                console.log("3");
                $.ajax({
                    url: path,
                    type: "POST",
                    traditional: true, // 배열을 직렬화 하는 옵션
                    contentType: 'application/json',
                    data: JSON.stringify(boardBno),
                    success: function(data){
                        console.log("Success:", data);
                        alert("게시글이 삭제되었습니다.");
                        location.reload();
                    },
                    error: function(xhr, status, error){
                        console.error("Error:", error);
                        alert("게시글 삭제에 실패했습니다.");
                    }
                }); // ajax end
            }// if > ajax end
        } // if end
    });// click end
</script>-->
