<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="admin_config_info" class="admin__section">

        <article class="view">
            <nav>
                <h2 class="title">
                    [<span th:text="${adminBoardDTO.cateName}"></span>]
                    [[${adminBoardDTO.title}]]
                </h2>
                <span class="date"
                      th:text="${#temporals.format(adminBoardDTO.regDate, 'yy-MM-dd')}">
                </span>
            </nav>

            <div class="content mt-3 mb-5">
              <textarea>[[${adminBoardDTO.content}]]</textarea>
            </div>

            <div class="comment">
                <span>댓글 📝</span>
                <textarea>[[${adminBoardDTO.comment}]]</textarea>
            </div>
            <a href="#" class="btnList">목록보기</a>
        </article>
    </section>
</th:block>
</html>