<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="admin_config_info" class="admin__section">

        <article class="view">
            <table class="csInputTable csViewTable">
                <tr>
                    <td>제목</td>
                    <td>
                        <div>
                            [<span th:text="${boardDTO.typeName}"></span>]
                            [[${boardDTO.title}]]
                            <span class="date" style="float: right;"
                               th:text="${#temporals.format(boardDTO.regDate, 'yy-MM-dd')}">
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td class="admin__uid" th:text="${boardDTO.nick}"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td class="content mt-3 mb-5">
                        <textarea>[[${boardDTO.content}]]</textarea>
                    </td>
                </tr>
            </table>
            <div class="admin_board_right">
                <a th:href="@{/admin/board/modify(bno=${boardDTO.bno}, group=${boardDTO.group})}"
                   class="">게시글 수정</a>
                <a href="#" class="board_deleteBtn" th:data-bno="${boardDTO.bno}">게시글 삭제</a>
                <input class="board__group" type="hidden" name="group" th:value="${boardDTO.group}" th:data-group="${boardDTO.group}" />
            </div>

            <section class="commentList">
                <article class="comments">
                    <span>댓글 📝</span>
                    <div th:if="${boardDTO.parent != 0}">
                        <textarea class="comment" name="comment" th:text="${boardDTO.comment}" readonly></textarea>
                        <th:block>
                            <a href="#" class="">댓글 수정</a>
                            <a href="#" class="">댓글 삭제</a>
                        </th:block>
                    </div>
                    <div th:unless="${boardDTO.parent != 0}">
                        <p class="empty">등록된 댓글이 없습니다.</p>
                    </div>
                    <div class="admin_board_right">
                        <a href="#" class="">댓글 작성</a>
                    </div>
                </article>
            </section>

            <a th:href="@{/admin/board/list(group=${boardDTO.group})}" class="btnList">목록보기</a>
        </article>
    </section>
</th:block>
</html>
<script th:src="@{/js/admin/boardDelete.js}"></script>
