<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section class="admin__section">
        <nav>
            <h3>반려동물 관리</h3>
            <p class="admin__p">
                <a th:href="@{/admin/index}">HOME</a> &gt; 반려동물 &gt;
                <strong>시설</strong>
            </p>
        </nav>

        <div>
            <form class="admin_search_form" action="#" method="get">
                <select name="searchCate">
                    <option value="prodName">종류</option>
                    <option value="prodNo">All</option>
                    <option value="company">유기견</option>
                    <option value="seller">유기묘</option>
                </select>
                <input type="text" name="search">
                <input type="submit" class="searchBtn" value="검색" />
            </form>
        </div>

        <table class="table table-hover">
            <form id="formCheck" action="#" method="post">
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox" name="all" id="selectAll"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">이미지</th>
                    <th scope="col">제목</th>
                    <th scope="col">종류</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th scope="col">조회</th>
                    <th scope="col">관리</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="chk">
                        <input type="checkbox" name ="chk" class="checkbox" value="">
                    </td>
                    <td>1</td>
                    <td>
                        <img src="#" class="thumb">
                    </td>
                    <td>Title</td>
                    <td>유기견</td>
                    <td>admin</td>
                    <td>23-11-02</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </form>
        </table>
        <input type="button" class="deleteBtn admin_btn" value="선택삭제" />

        <div class="col-lg-12 mt-5">
            <div class="product__pagination blog__pagination">
                <a href="#"><i class="fa fa-long-arrow-left"></i></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </section>
</th:block>
</html>