<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cs/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">




<th:block layout:fragment="content">

    <div class="container">
        <section id="cs">
            <br>
            <br>
            <div class="main" id="qnaList-main">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>고객문의</h4>
                            <ul>
                                <li><a th:href="@{/cs/qna/list(group='qna', cate=31)}">회원</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                            </ul>
                        </div>
                    </div>
                </div>




                <section class="qna" id="qnaList-section">
                    <div class="section-title product__discount__title">
                        <h2><a th:href="@{/cs/qna/list(group=${boardDTO.group}, cate=${boardDTO.cate})}" class="btnTotal">[[${boardDTO.cateName}]]</a></h2>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">[[${boardDTO.title}]]</h5>
                            <p class="card-text">[[${boardDTO.content}]]</p>
                            <a href="#" class="btn btn-primary">답글</a>
                        </div>
                    </div>


                    <div class="card" th:if="${response != null}">
                        <div class="card-body">
                            <h5 class="card-title">[[${response.title}]]</h5>
                            <p class="card-text">[[${response.content}]]</p>
                            <a href="#" class="btn btn-primary">답글</a>
                        </div>
                    </div>
                </section>
            </div><!-- bootstrap 기존 설정은 안 건드리는 게 좋음(css 때문에) -->
        </section>
    </div>
</th:block>

</html>