<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

<!-- Header Begin -->
<header th:fragment="header">
    <div class="header__top">
        <div class="admin__container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="header__top__left">
                        <div class="header__logo">
                            <a th:href="@{/admin/index}"><img th:src="@{/img/logo.png}" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a th:href="@{/index}">home</a>
                            <a th:href="@{/my/index}">마이페이지</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:href="@{/member/login}">
                                <i class="fa fa-user"></i> Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</header>
<!-- Header Section End -->
</html>